<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil</title>
</head>
<body>
    <div>
        <%- include("./nav.ejs")%>
    </div>
    <h1>Accueil</h1>
    <h2>Bienvenue à la page d'accueil</h2>
    <p><%= user ? user.name : '' %> <%= user ? user.role : "" %></p>
</body>
</html>